<%= render "components/navbar" %>
<%= render "components/banner" %>

<div class="list-layer d-flex justify-content-between m-3">
  <h2>My Lists</h2>
  <% @lists.each do |list| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">

  <%= link_to list.name, list_path(list.id)%>
  </div>

  <% end %>
  <%= render "components/button" %>
</div>
