<div class="banner text-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/free-vector/red-movie-theater-seats-with-curtains-background_1017-38388.jpg?w=1060&t=st=1660826781~exp=1660827381~hmac=5840c1860301954368662a370a658517a1c8448532cf959df68e8bb0b451be77);">
  <div class="container">
    <h1>Classic</h1>
  </div>
</div>
